**/.env
**/.DS_Store
**/messages_grpc_pb.js
**/object_grpc_pb.js

dist/
docs/
node_modules/

**/tsconfig.tsbuildinfo
**/coverage/*
.vscode/*

**/benchmark-output.txt
*.log

**/flamegraph.*
!**/flamegraph.sh

test.e2e.log
test-results/
playwright-report/
blob-report/
playwright/.cache/
