**/.env
**/.DS_Store

**/.gitignore
**/.prettierignore
**/.prettierrc.json

**/.vscode/*
**/node_modules/*
**/dist/*
**/docs/*
**/doc/*
**/bundle/*
**/coverage/*
**/flamegraph.*
!**/flamegraph.sh

**/tsconfig.tsbuildinfo
**/benchmark-output.txt
**/*.log
**/*_pb.js
**/*_pb.ts
**/serializer.ts
